@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Petit+Formal+Script&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    font-family: "Outfit", Helvetica, sans-serif;
}
html{
    scroll-behavior: smooth;
}

.COLORS{
color: #1985a1;
color: #4c5c68;
color: #46494c;
Color: #c5c3c6;
color:#dcdcdd;
}





/*All Header*/
header{
    background-image: url(./media/sunset.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-height: 800px;
}

header h1{
    color: white;
    max-width: 100%;
    margin-top: 18rem;
    margin-bottom: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color:rgba(0, 0, 0, 0.334);
}

h1{
    font-family:"Petit Formal Script", serif;
}
#book{
    border: 0;
    color: white;
    font-size: 150%;
    background: #c5c3c66c;
    padding: 0.8rem 1rem;
    margin: 1rem;
    align-self: flex-end;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 30px 1px black;
    transition: .3s;
}
#book:hover{
    background: rgba(72, 71, 71, 0.882);
}
#book:active{
    background: #c5c3c66c;
    transition: none;
    transform: translateY(2px);
}
#hamburger{
    background: none;
    font-size: 285%;
    border: 0;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin: auto 0;
    padding: 1rem;
    cursor: pointer;
    transition: 1s;
    border-radius: 5px;
    text-align: center;
}
#hamburger.active{
    background: #c5c3c66c;
    transform: rotate(-90deg);
    margin: 0;
}
header nav{
    width:100%;
    position: sticky;
    top: 0;
    background-image:linear-gradient(rgba(71, 71, 71, 0.916), rgba(255, 255, 255, 0));
    z-index: 2;
}
nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;  
}
nav li{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    padding: 1.5rem;
    border-radius: 5px;
}
.nav-link:hover{
    background: #c5c3c66c;;
    transition: 1s;
}
header nav li:first-of-type{
    margin-left: 1.5rem;
}

header nav li:last-of-type{
    margin-right: 1.5rem;
}

#logo-small{
    max-width: 100%;
}
#img-hamburger{
    display: none;
    justify-content: space-between;
    width:100%;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-image:linear-gradient(rgba(71, 71, 71, 0.916), rgba(255, 255, 255, 0));
}

.open{
    background-color: rgba(41, 41, 41, 0.77);
    transition: none;
    padding: 1.5rem 0;
    border-radius: 5px;
}





/*Temperature API*/
.weather-heading{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100%;
    position: absolute;
    top:140px;
    z-index: 1;
    padding-left: 1rem;

}
/* ^All Header^ */









/*Main styles*/
body{
    background-color:#46494c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1{
    display: none;
    text-align: center;
    width: 90%;
    margin:  auto;
    background-color: #c5c3c6;
    padding: 0.5rem 0 1rem 0;
    border-radius: 0 0 50% 50%;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}





/*Carousel*/

.close{
    display: none;
}

.activitydesc{
    background-color:rgba(0, 0, 0, 0.334);
    border-radius: 0 0 20px 0;
    padding: 0 1rem 1rem;

}
.activitytype{
    background-color:rgba(0, 0, 0, 0.334);
    padding: 1rem 0 0 1rem;
    border-radius: 2rem 0 0 0;

}
.activities h2{ 
    text-align: center;
}
.carousel{
    display: grid;
    grid-template-columns:repeat(14, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: relative;
    width: 100%;
    margin: 0 auto;
}
.activityimg{
    grid-area: 1/ 1 / 6 / 15;
    object-fit: cover;
    height: 100%;
    margin: auto;
    padding: 1rem;
    border:#4C5C68 1rem solid;
    border-radius: 2rem 0 2rem 0;
    max-width: 100%;
}
.activitywords{
    grid-area: 1 / 1 / 2/ 6;
    color: white;
    width: 70%;
    height: 65%;
    border-radius: 2rem 0 20px 0;
    z-index: 1;
}

.activitynext, .activityback, .gotodesc{
    border: none;
    color: white;
    font-size: 150%;
    background: #46494cc4;
    padding: 1rem 1.5rem;
    margin: auto;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0px 0px 10px black;
    transition: .2s;
}

.activitynext:hover, .activityback:hover, .gotodesc:hover{
    background: #91919142;
}

.activitynext:active, .activityback:active, .gotodesc:active{
    background: #c5c3c66c;
    transition: none;
}
.carouselxbutton{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0.8rem;
}



/*Room Carousel*/
.roomwords{
    grid-area: 6/5/6/11;
    background-color:#c5c3c6;
    position: relative;
    top: -50px;
    text-align: center;
    align-items: center;
    padding: 1rem 2rem;
    box-shadow: 5px 0 10px 5px #4C5C68;
}
.roomimg{
    grid-area: 1/ 1 / 6 / 15;
    margin: auto;
    width:95%;
    max-height: 100%;
    padding: 1rem;
    border:#4C5C68 1rem solid;
    border-radius: 4rem;
}
.gotodesc{
    grid-area: 5/1/5/4;
}
.gotodesc a{
    text-decoration: none;
    color: white;
}





/*Home page*/
.headshot{
    grid-row: 1/3;
    border-radius: 50%;
    max-height: 150px;
    justify-self: center;
}

#activities{
    margin-top: 5rem;

}
section{
    margin: 2rem;
}


/*Spa page/ Room page*/
#thespa{
    position: relative;
}
#spanav{
    transition: 0.5s;
    position: absolute;  
    width: 25%;    
    padding: 0;
    display: none;
    top: 50px;
    background-color: rgba(41, 41, 41, 0.77);
}

#spatoggle{
    background: rgba(41, 41, 41, 0.77);
    width: 10rem;
    height: 50px;
    padding: .5rem;
    color: white;
    font-size:  100%;
    border-radius: 0 0 10px 0;
    position: absolute;
    top:0;
    left: 0;
    border: 0;
    cursor: pointer;
}
#spatoggle:hover{
    background:rgba(141, 140, 140, 0.882);
}
#spatoggle:active{
    background: rgba(41, 41, 41, 0.85);
}

#spanav.active{
    display: inline;
}
.spalink{
    width: 100%;
    padding: 1rem;
}
.spalink:first-of-type{
    margin-top: 3rem;
}
.spalink a{
    text-decoration: none;
    padding:0.8rem;
    color: rgb(226, 226, 226);
    width: 100%;
}
.spalink:hover{
    background-color:rgba(141, 140, 140, 0.882);
}
.centersec{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
.content img, .contentreverse img{
    max-width: 500px;
    object-fit: cover;
    max-width: 50%;
}
.spatype:first-of-type {
   margin-top: 5rem;
}
.spatype{
    color:#c5c3c6
}
.content{
    display: flex;
    justify-content: flex-start;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px 0 20px 0;
    padding: 2rem;
    background-color: #c5c3c6;
    border:#4C5C68 5px solid;
}
.contentreverse{
    color: #c5c3c6;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 90%;
    background-color: #4C5C68;
    border:#c5c3c6 5px solid;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px 0 20px 0;
}

.words{
    display: flex;
    flex-direction: column;
    height: 100%;
}
#spapage h2{
    padding: 2rem;
}
#spapage h3, p{
    margin: 0 0 1rem 0;
}
#notes{
    background-color:#c5c3c6;
    width: 100%;
    border: 5px #4c5c68 solid;
    margin: 0;
}
#notes h2{
    color:#46494c;
}




/*Activity Page*/
.activitysection{
    color:#c5c3c6;
    width: 90%;
    gap: 5rem;
    background-color: #4C5C68;
    border:#c5c3c6 5px solid;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 20px 0 20px 0;
}
.activitysection h2{
    margin-bottom: 1.5rem;
}




/*Footer*/
footer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #4c5c68;
    padding: 1rem 2rem;
    color: #c5c3c6;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    justify-content: space-between;
    gap: 2rem;
}

.footerleft{
    align-items: flex-end;
}
footer ul{
    padding: 0;
}
.socials li{
    display: inline;
}
footer ul li{
    list-style: none; 
}

footer ul li a{
    text-decoration: none;
    color: white;
}
footer ul li a:hover{
    color: #919191;
}

/*HomePage Style*/
#rooms{
    align-self: flex-start;
}
#testimoni{
    width: 100%;
}
#testimoni h2, #testimoni h3{
    text-align: center;
    background-color: #c5c3c6;
}
#guestwords{
    margin: 0 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 300px;
}
.review{
    display: flex;
    background-color:#c5c3c6;
    gap: 0.4rem;
    padding: 1rem;
    margin: 0.5rem;
    
}

@media screen and (min-width:1200px) {
    header h1{
        margin-top: 30rem;
    }
}


@media screen and (max-width:950px) {
    header h1{
        display: none;
    }
    main h1{
        display: block;
    }
    header{
        background-image: url(./media/sunsetcrop.png);
        flex-direction: column;
        align-items: center;
        height: 600px;
        background-size: auto;
    }
    .logo-nav{
        display: none;
    }
    header nav{
        display: none;
        justify-content: center;
        width: 100%;
        padding: 0;
        background-image: none;
    }
    .nav-link{
        height: 100%;
        padding: 1rem 2rem 1rem 2rem;
        border-radius: 5px 5px 0px 0px;
    }
    header nav ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem; 
        padding: 0rem 0 1rem 0;
    }

    header nav li:first-of-type{
        margin: 0;
    }
    
    header nav li:last-of-type{
        margin: 0;
    }

    nav.active{
        display: block;
        transition: 1s;
    }

    #img-hamburger{
        display: flex;
    }

    #book{
        position: absolute;
        top: 100px;
        z-index: 2;
        right:10px;  
    }

    .centersec{
        width: 100%;
        justify-items: center;
    }

    .content, .contentreverse{
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .words{
        justify-self: flex-start;
        margin: 3rem 0 0 2rem;
    }
    .contentreverse img, .content img{
        max-width: 100%;
        padding: 2rem;
    }
    .carousel{
        width: 95%;
    }
    .carousel{
        max-height: 600px;
    }

    /*Footer*/
    footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    footer div{
        flex-direction: row;
        width: 100%;
    }
    /*Home*/
    #guestwords{
        display: flex;
        flex-wrap: wrap;
    }
}


@media screen and (max-width:698px){
    nav ul{
        flex-direction: column;
        padding-bottom: 0;  
    }
    .nav-link{
        padding: 0.5rem 0.5rem 0 0.5rem;
        font-size: 130%;
    }
    .open{
        padding: 0.5rem 0 0 0;
        border-radius: 5px 5px 0px 0px;
    }
    #hamburger{
        margin:0;
    }
    #img-hamburger{
        position: static;
    }
    footer div{
        flex-direction: column;
    }
}